@font-face {
  font-family: 'Red Hat Display';
  src: url('fonts/RedHatDisplay-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('fonts/RedHatDisplay-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('fonts/RedHatDisplay-Black.ttf');
  font-weight: 900;
}

@mixin info-collapse {
  @media (min-width:320px) {
    @content;
  }
}

@mixin footer-collapse {
  @media (min-height:700px) {
    @content;
  }
}

html{
  height: 100%;
  width: 100%;
}

body{
  padding: 20px;
  margin: 0px;
  box-sizing: border-box;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  background-color: hsl(225, 100%, 94%);
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
}

.card{
  background-color: #ffffff;
  border-radius: 15px;
  padding: 180px 20px 20px 20px;
  color:hsl(224, 23%, 55%);
  background-image: url('images/illustration-hero.svg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: fit-content;
  max-width: 335px;
  box-sizing: border-box;

  h1{
    color:hsl(223, 47%, 23%);
    text-align: center;
    font-size: 24px;
    font-weight: 900;
  }

  p{
    text-align: center;
    padding: 0px 10px;
    margin: 0px 0px 25px 0px;
  }
}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(225, 100%, 98%);
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;

  @include info-collapse{
    flex-direction: row;
    align-items: center;
  }

  .left{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  img{
    margin-right: 15px;
  }
  
  a{
    color: hsl(245, 75%, 52%);
    font-weight: 700;
    margin: 10px 0px;

    &:hover{
      text-decoration: none;
      color:hsl(246, 37%, 60%);
    }

    @include info-collapse{
      margin: 0px 0px;
    }

  }
  
}

.planDetails{
  h2{
    color:hsl(223, 47%, 23%);
    font-size: 14px;
    font-weight: 900;
    margin: 0px;
  }

}

.actions{
  display: flex;
  flex-direction: column;
  align-items: center;

  a{
    padding: 15px;
    box-sizing: border-box;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
  }

  .proceedLink{
    margin-top: 25px;
    width: 100%;
    background-color: hsl(245, 75%, 52%);
    color:white;
    border-radius: 10px;
    box-shadow: 0px 15px 40px 0px hsla(0,0%,0%,0.3);

    &:hover{
      background-color: hsl(246, 37%, 60%);
    }

  }

  .cancelLink{
    color:hsl(224, 23%, 55%);
    margin-top: 15px;
    
    &:hover{
      color:hsl(223, 47%, 23%);
    }
  }
}


footer{
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
  
  @include footer-collapse{
    position: fixed;
    bottom: 20px;
  }
}

.noWrap{
  white-space: normal;

  @media (min-width:250px) {
    white-space: nowrap;    
  }
}


